.container{
  display: flex;
  gap:1rem;
}

.AsideBar{
  width: 23%;
  background-color: #FFFFFF;
  height: 500px;
  box-shadow: 2px 2px 2px #E8E8E8;
  padding: 1.5rem;
  
}

.Content{
  width: 78%;
  background-color:white;
  margin: auto;
  border-radius: 5px;
  margin-top: 1rem;
  box-shadow:20px -30px 2px 2px rgb(187, 220, 233);
  margin-top: 2rem;
  margin-right: 3rem;
}
@media(max-width:999px){
  .AsideBar{
    width: 10%;
  }
}
